:root {
  --main-text: #323b4a;
  --text-gery: #c3cad9;
  --text-dark: #323b4a;
  --text-green: #36cf86;
  --primary: #4761ff;
  --secondary: #555555;
  --light: #f1f3fa;
  --dark: #1c2035;
  --primary-font: 'IBM Plex Sans', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-top: 0;
}

input:focus {
  outline: 0;
}

*:focus {
  outline: none !important;
}

* {
  outline: none !important;
}

.ui-state-highlight {
  border: 1px dashed #9ba9b9;
  background-color: #eef1f8;
}

p {
  margin: 0;
}

.fs-16 {
  font-size: 16px;
}

.fs-15 {
  font-size: 15px;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

.ms-10 {
  margin-left: 5rem;
}

.color-grey {
  color: var(--text-gery);
}

.color-dark {
  color: var(--text-dark);
}

.color-green {
  color: var(--text-gery);
}

.border-bottom-grey {
  border-bottom: 1px solid #bfcbdd;
}

.border-right-grey {
  border-right: 1px solid #bfcbdd;
}

.border-left-grey {
  border-left: 1px solid #bfcbdd;
}

.border-top-grey {
  border-top: 1px solid #bfcbdd;
}

.status-inprogress {
  color: #d87b26;
}

.status-done {
  color: #36cf86;
}

.status-hoold {
  color: #8899b8;
}

.status-progress-bg {
  background-color: #d87b26;
}

.status-done-bg {
  background-color: #36cf86;
}

.status-hold-bg {
  background-color: #8899b8;
}

.bg-orange {
  background: #fff7f0;
}

.bg-blue {
  background: #f0f6ff;
}

.dot {
  width: 9px;
  height: 9px;
  border-radius: 100%;
  display: inline-block;
}
.btn {
  font-family: var(--primary-font);
  font-style: normal;
  font-size: 12px;
  min-width: 140px;
  height: 34px;
  border-radius: 5px;
  border: none;
  padding: 0;
  line-height: 34px;
  font-weight: 500 !important;
}

.btn svg {
  line-height: 30px;
}

.btn-lg {
  height: 49px;
}

.btn-icon {
  min-width: 36px;
  height: 34px;
}

.btn-primary {
  background: linear-gradient(180deg, #0a8aff -4.69%, #1960a2 100%);
}

.btn-secondary {
  background: linear-gradient(180deg, #c5cbd8 -4.69%, #636d86 83.1%);
}

.btn.btn-success {
  font-weight: 600;
  font-size: 12px;
  background: linear-gradient(180deg, #0affc4 -4.69%, #19a299 100%);
}
.btn-bordered {
  border: 1px solid #c7d0de;
  border-radius: 5px;
  color: #6b7a99;
}

.btn-bordered:hover {
  border: 1px solid #c7d0de;
}

.box-dashed {
  background-color: #fff;
  border: 1px dashed #c7d0de;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
}

svg path {
  transition: all 0.3s;
}

.main-content,
.right-sidebar {
  transition: all 0.3s;
}

body {
  background: #fafcff;
  color: var(--main-text);
  font-family: var(--primary-font);
}
header {
  background: linear-gradient(269.55deg, #f6f7fb 18.79%, #eaeef5 71.64%);
  box-shadow: 6px 1px 11px rgba(0, 0, 0, 0.05);
}

header .logo {
  width: 52px;
}

header .dropdown .dropdown-menu {
  min-width: 210px;
  padding: 8px;
  top: 10px;
  border-radius: 0;
  box-shadow: 9px 12px 20px rgba(0, 0, 0, 0.25);
}
header .dropdown .dropdown-link {
  color: #6b7a99;
  font-family: var(--secondary-font);
  font-size: 13px;
  font-weight: 700;
}

header .dropdown .dropdown-link::after {
  display: none;
}

header .notification-bell {
  width: 50px;
  height: 50px;
  background: #ffffff;
  border: 1px solid #c7d0de;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 100px;
  position: relative;
}
header .notification-bell::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0px;
  top: 0px;
  background: #e62e7b;
  box-shadow: 0px 2px 10px rgba(38, 51, 77, 0.03);
  border-radius: 100px;
}
header .dropdown .dropdown-item {
  font-family: var(--primary-font);
  font-size: 13px;
  font-weight: 500;
  padding: 16px 6px;
}

header .dropdown .dropdown-item:hover {
  background: none;
}

header .dropdown li:not(:last-child) .dropdown-item {
  border-bottom: 1px solid #c7d0de;
}

header .input-search {
  background: #ffffff url(./images/icons/search.svg) no-repeat left 18px center;
  font-size: 12px;
  width: 300px;
  height: 54px;
  border: 1px solid #c7d0de;
  box-shadow: 0px 2px 5px rgba(38, 51, 77, 0.03);
  border-radius: 110px;
  padding-left: 45px;
  position: relative;
}

.sidebar {
  background-color: #f5f7fb;
  border-right: 1px solid #bfcbdd;
}
.sidebar .sidebar-menu {
  width: 100px;
  height: 100px;
  border-bottom: 1px solid #bfcbdd;
  position: relative;
}
.sidebar .sidebar-menu .nav-link {
  color: var(--main-text);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.addmail {
  margin: 20px 0;
  border: 1px dotted #c7d0de;
  border-radius: 5px;
  padding: 14px 10px;
  background: #eef1f8;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #1353d1;
  outline: 0;
  box-shadow: 0 0 0 0rem #1353d1;
}
.sidebar .sidebar-menu.active::after {
  content: '';
  position: absolute;
  background-color: #1353d1;
  display: block;
  width: 2px;
  margin-top: 5px;
  margin-right: 4px;

  height: 90px;
  right: 0;
  top: 0;
}
.dropdown-item {
  color: #6b7a99;
  font-weight: 500;
  font-size: 12px;
}

.sidebar .sidebar-menu.active {
  background: #fff;
}

.sidebar .sidebar-menu.active svg path {
  fill: #1353d1;
}

.sidebar .sidebar-menu .nav-link:hover svg path {
  fill: #1353d1;
}

.main-section .main-content {
  width: 67%;
}

.main-section .right-sidebar {
  width: 33%;
  border-left: 1px solid #c7d0de;
}

.main-section .main-content .main-content-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323b4a;
}

/* ------------ Home Page Changes -------------- */
body .home-page {
  background: rgb(238, 246, 254);
  background: linear-gradient(0deg, rgba(238, 246, 254, 1) 0%, rgba(210, 228, 244, 1) 53%, rgba(222, 239, 255, 1) 100%);
  font-family: 'IBM Plex Sans', sans-serif;
  color: #0d2148;
}

.home-page a.login {
  background-color: #4898ee;
  padding: 10px 60px;
  color: #fff;
}

.home-page a.login:hover {
  background-color: #2077ec;
  color: #fff;
}

.home-page h1 {
  margin: 100px 0 0;
  font-size: 70px;
  font-weight: 600;
  line-height: 74px;
}

.home-page .main-cover a {
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 30px 0 0;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}

.home-page .main-cover a:hover {
  background-color: #2077ec;
  color: #fff;
}

.home-page .main-cover p {
  margin: 30px 0 0;
  font-size: 18px;
  font-weight: 400;
}

.home-page .main-cover svg {
  margin: 0px 0 0;
}

.home-page .main-cover p span {
  font-weight: 500;
}

.home-page h5 {
  text-align: center;
  font-size: 16px;
}


.home-page .clients svg {
  width: 100px;
  height: 80px;
  margin: 0 auto;
  display: block;
}

.home-page .client-list {
  margin: 40px 0 0;
}

.home-page .clients svg image {
  width: 100px;
}

.home-page h2 {
  font-size: 50px;
  font-weight: 600;
  margin: 0px 0px 20px 0;
}

.home-page .soma {
  display: block;
  line-height: 24px;
  margin: 0 160px 0 0px;
}

.home-page a.soka {
  display: block;
  font-weight: 600 !important;
  color: #4898ee;
  margin: 30px 0 0;
}

.home-page .s1 {
  margin: 40px 0 40px;
}

.home-page .process h2 {
  text-align: center;
  margin: 20px 0 0;
}

.home-page .process h4 {
  margin: 20px 0 0;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.home-page .process h6 {
  line-height: 26px;
  height: 30px;
  width: 30px;
  margin: 20px auto 0;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 40px;
}

.home-page .process p {
  margin: 10px 0 0;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0 40px;
  line-height: 22px;
}

.home-page .industry h2 {
  line-height: 60px;
}

.home-page .industry {
  margin: 180px 0 0;
}

.home-page .process-cont {
  margin: 60px 0 0;
}

.home-page .industry p {
  width: 60%;
  line-height: 24px;
}

.home-page .pricing {
  margin: 0 0 100px;
}

.home-page .pricing h2 {
  text-align: center;
}

.home-page .colar1 {
  margin: 60px 0;
  background-color: #c5dff7;
  padding: 0 0px 20px;
}

.home-page .colar2 {
  margin: 60px 0;
  background-color: #eff7ff;
}

.home-page .pricing h3 {
  margin: 40px 0 0;
  text-align: left;

  font-size: 24px;
  font-weight: 600;
  padding: 0 0 0 0px;
}

.home-page .divider {
  background-color: #a2bacf;
  width: 100%;
  height: 2px;
  display: block;
  margin: 20px 0 0;
}

.home-page .pricing ul {
  margin: 40px 0 40px;
}

.home-page .colaro {
  padding: 0 60px 0;
}

.home-page .pricing ul li:before {
  margin: 3px 7px 0 0;
  float: left;
  content: '';
  background-color: #e5f2ff;
  border: 1px solid #3f4f5d;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 40px;
}

.home-page .pricing ul.ego li:before {
  margin: 3px 7px 0 0;
  float: left;
  content: '';
  background-color: #4898ee;
  border: 1px solid #3f4f5d;
  width: 16px;
  height: 16px;
  display: block;
  border-radius: 40px;
}

.home-page .pricing ul li {
  margin: 0 0 30px;
}

.home-page .pricing ul li {
  font-size: 20px;
}

.home-page .pricing a {
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 50px 0 20px;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}

.home-page .pricing a:hover {
  background-color: #2077ec;
}

.home-page .pricingtitles h4 {
  float: right;
  margin: 40px 0 0;
  font-weight: 600;
  font-size: 22px;
}

.home-page .pricingtitles h3 {
  float: left;
}

.home-page .cta {
  background-color: #c5dff7;
  padding: 160px 0;
}

.home-page .cta h2 {
  position: relative;
  z-index: 99;
  text-align: center;
  line-height: 60px;
}

.home-page .cta a {
  position: relative;
  z-index: 10;
  background-color: #4898ee;
  padding: 20px 60px;
  color: #fff;
  font-weight: 500;
  margin: 30px auto 0;
  display: block;
  width: 260px;
  /* height: 60px; */
  vertical-align: middle;
  text-align: center;
}

.home-page .cta a:hover {
  background-color: #2077ec;
}

.home-page .cta {
  position: relative;
}

.home-page .cta svg {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

.home-page .cta svg image {
  width: 100%;
  height: 100%;
}

.home-page .clear {
  clear: both;
}

.home-page .caym {
  margin: 140px 0 0;
}

.home-page .caym2 {
  padding: 0 0px 0 140px;
}

.home-page .svger svg {
  width: 600px;
  height: 600px;
}

.home-page .svger svg image {
  width: 600px;
  height: 600px;
}

.home-page footer {
  background-color: #102740;
  padding: 40px 0 40px;
}

.home-page footer svg image {
  width: 140px;
}

.home-page footer .social svg image {
  width: 140px;
  height: 30px;
}

.home-page footer svg {
  width: 140px;
  height: 90px;
  margin: 0;
}

.home-page footer ul {
  margin: 40px 0 0;
  color: #fff;
}

.home-page footer ul li {
  list-style: none;
  margin: 10px 0 20px;
}

.home-page footer ul li a {
  opacity: 0.8;
  color: #fff;
}

.home-page footer ul li a:hover {
  opacity: 1;
  color: #fff;
}

.home-page footer ul.social li {
  float: left;
  margin: 0 20px 0 0;
}

.home-page footer .copy {
  margin: 40px 0 0;
  text-align: center;
  color: #fff;
  opacity: 0.5;
}

.home-page .mainer {
  position: absolute;
  top: 20px;
  width: 100% !important;
  height: 600px;
  left: 0;
}

.home-page .mainer-wrap {
  position: relative;
  flex: none;
  width: 61%;
}

.home-page .main-cover {
  position: relative;
}

.home-page .mainer-text {
  flex: none;
  width: 39%;
}

.home-page .nav-item2 {
  display: none;
  margin: 40px 0 0;
}

.home-page .worksvg {
  position: relative;
  display: block;
  height: 180px;
}

.home-page .worksvg svg {
  position: absolute;
  margin: 40px 0 0;
  top: 40px;
  left: 100px;
}

@media (max-width: 630px) {
  .home-page .col {
    flex: none !important;
    width: 100%;
  }

  .home-page footer .col {
    flex: none !important;
    margin: 0 auto;
    width: 100%;
  }

  .home-page .svger svg image {
    width: 100% !important;
  }

  .home-page .svger svg {
    width: 100% !important;
  }

  .home-page .navbar-text {
    display: none;
  }

  .home-page .navbar-toggler {
    margin: 30px 0 0;
  }

  .home-page .navbar-nav {
    margin: 38px 0px 0 0px;
  }

  .home-page .nav-item2 {
    display: block;
    list-style: none;
  }

  .home-page .caym2 {
    padding: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .home-page .process .col {
    margin: 0 0 40px;
  }

  .home-page .industry svg {
    height: 300px !important;
  }

  .home-page .worksvg svg {
    position: absolute;
    margin: 40px 0 0;
    top: 40px;
    left: 30%;
  }
}

.navbar-nav-home {
  display: flex;
  margin: 38px 0px 0 90px;
}

.navbar-brand-home {
  width: 140px;
  height: 60px;
}

.navbar-brand-home svg image {
  width: 140px;
}

.navbar-brand-home svg {
  width: 140px;
  height: 90px;
  margin: 0;
}

.nav-item-home {
  list-style: none;
}

.nav-link-home {
  color: #0d2148;
  margin: 0 30px 0 0;
  list-style: none !important;
}

.nav-link-home span {
  border-radius: 30px;
  background-color: #4898ee;
  font-size: 10px;
  color: #fff;
  padding: 4px 10px;
  font-weight: 600;
  margin: 0 0px 0 10px;
}

.navbar-text-home {
  margin: 38px 0px 0 0px;
  float: right;
}

.nav-link-home:hover {
  color: #2077ec;
}

a.login {
  background-color: #4898ee;
  padding: 10px 60px;
  color: #fff;
}

a.login:hover {
  background-color: #2077ec;
  color: #fff;
}

.login {
  margin: 50px 0px;
}

.login h3 {
  text-align: center;
  margin: 20px 0px;
}

/* --------------------------------------------- */

/*--------- CUSTOMERS PAGE ---------*/
.customer-filter .dropdown button {
  background: #f5f7fa;
  color: #6b7a99;
  font-weight: 500;
  font-size: 12px;
  width: 124px;
  height: 36px;
  border: 1px solid #c7d0de;
  border-radius: 10px 10px 0px 0px;
}
.customer-filter .dropdown .dropdown-item {
  color: #6b7a99;
  font-weight: 500;
  font-size: 12px;
}
.doc-box {
  width: 169px;
  background: #fff;
  border: 1px solid #c7d0de;
  border-radius: 8px 10px 8px 8px;
  float: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.customer-docs .doc-box {
  width: 169px;
  background: #fff;
  border: 1px solid #c7d0de;
  border-radius: 8px 10px 8px 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}
.doc-title {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 43px;
  border-bottom: 1px solid #c7d0de;
  border-radius: 7px 9px 0px 0px;
}
.doc-shared span {
  line-height: 0px;
  height: 40px;
  color: #000;
  text-align: left;
}
.doc-box .img-fluid {
  margin-top: 10px;
}

.customer-docs .doc-title {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  line-height: 43px;
  border-bottom: 1px solid #c7d0de;
  border-radius: 7px 9px 0px 0px;
}

.doc-blue {
  background: linear-gradient(298.92deg, #6cf6ff 19.83%, #1353d1 86.69%);
}

.doc-green {
  background: linear-gradient(180deg, #23c815 0%, #29ebeb 100%);
}

.doc-red {
  background: linear-gradient(184.68deg, #c81515 -5.53%, #ffa9d2 90.1%);
}

.customer-docs .doc-action-link {
  flex: 1;
  text-align: center;
}
.customer-docs .doc-action-link:not(:last-child) {
  border-right: 1px solid #c7d0de;
}

.doc-action-link {
  flex: 1;
  text-align: center;
}

.doc-action-link:not(:last-child) {
  border-right: 1px solid #c7d0de;
}

/*  Customer modals */
.presto-modal .modal-content {
  background-color: #fafcff;
}
.presto-modal .modal-title {
  color: var(--main-text);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

#newOrder .modal-header .btn-close {
  background: transparent url('./images/icons/close.svg') center/1em auto no-repeat;
  position: absolute;
  right: 20px;
  opacity: 1;
}

#newBatch .modal-header .btn-close {
  background: transparent url('./images/icons/close.svg') center/1em auto no-repeat;
  position: absolute;
  right: 20px;
  opacity: 1;
}

#shareOrder .modal-header .btn-close {
  background: transparent url('./images/icons/close.svg') center/1em auto no-repeat;
  position: absolute;
  right: 20px;
  opacity: 1;
}

#newCustomer .modal-header .btn-close {
  background: transparent url('./images/icons/close.svg') center/1em auto no-repeat;
  position: absolute;
  right: 20px;
  opacity: 1;
}

#FileModal .modal-header .btn-close {
  background: transparent url('./images/icons/close.svg') center/1em auto no-repeat;
  position: absolute;
  right: 20px;
  opacity: 1;
}
#newCustomer .modal-body .hiddenInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#newCustomer .modal-body .hiddenInput+#newCustomer .modal-body label {
  cursor: pointer;
  /* "hand" cursor */
}

#newCustomer .modal-body .form-text {
  font-size: 14px;
  color: #323b4a;
}

#newCustomer .modal-body .form-text span {
  color: #bfcbdd;
}

#newCustomer .modal-body .profile-pic-label {
  display: inline-block;
  background: #eef3fa;
  border: 1px solid #bfcbdd;
  width: 85px;
  height: 85px;
  margin-top: 20px;
  border-radius: 100%;
  cursor: pointer;
}
.modal-body .form-label {
  color: #323b4a;
  font-size: 14px;
}
.modal-body input.form-control {
  background: #ffffff;
  height: 56px;
  border: 1px solid #bfcbdd;
  border-radius: 5px;
}

.modal-body input.form-control::placeholder {
  color: #bfcbdd;
}

.modal-footer {
  border-top: none;
}

.modal-footer button {
  flex: 1;
  font-size: 15px;
  height: 56px;
}
.modal-body .bootstrap-select.customer-select {
  width: 100% !important;
  background: linear-gradient(180deg, #e7edf5 0%, #f1f2f4 100%);
  border: 1px solid #bfcbdd;
  height: 56px;

  border-radius: 5px;
}

.modal-body .bootstrap-select.customer-select .dropdown-menu {
  padding: 0;
}

.modal-body .bootstrap-select.customer-select .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #bfcbdd;
}

.modal-body .bootstrap-select.customer-select .dropdown-menu .dropdown-item {
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
  padding: 5px 16px;
}
.modal-body .bootstrap-select.customer-select button.dropdown-toggle {
  background-color: #fff;
  height: 53px;
}
.modal-body .bootstrap-select.customer-select button.dropdown-toggle::after {
  border-top: 0.8em solid #6b7a99;
  border-right: 0.5em solid transparent;
  border-bottom: 0;
  border-left: 0.5em solid transparent;
  margin-right: 20px;
}

.modal-body .bootstrap-select.customer-select button.dropdown-toggle.show {
  background: linear-gradient(180deg, #e7edf5 0%, #f1f2f4 100%);
}

.modal-body .bootstrap-select.customer-select .dropdown-toggle .filter-option {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.modal-body .bootstrap-select.customer-select .filter-option-inner-inner {
  font-size: 14px;
  color: #9ba9b9;
}

/*----------- RIGHT SIDEBAR------------*/
.right-sidebar .panel {
  border-bottom: 1px solid #c7d0de;
}
.right-sidebar .panel .panel-header {
  background-color: #eef1f8;
  border-bottom: 1px solid #c7d0de;
}
.right-sidebar .panel .panel-title {
  color: #6b7a99;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
.right-sidebar .panel-content .panel-doc-preview {
  width: 147px;
  background: #fff;
  border: 0.5px solid #c7d0de;
  cursor: pointer;
}

.files {
  width: 147px;
  background: #fff;
  border: 0.5px solid #c7d0de;
  cursor: pointer;
}
.filor {
  background-color: #fff;
  height: 0px;
  width: 100%;
  margin-top: 40px;
}
.files a {
  display: block;
  width: 22px;
  float: left;
}
.files p {
  font-size: 12px;
  text-align: left;
  margin-left: 24px;
  line-height: 28px;
  font-weight: 500;
  display: block;
  color: #6b7a99;
}

.right-sidebar .panel-content .panel-doc-preview div img {
  width: 100%;
}

.right-sidebar .panel-content .panel-doc-preview.selected {
  background: #27de9c;
  border: 0.5px solid #26d877;
}

.right-sidebar .panel-content .panel-doc-preview.selected svg path {
  fill: #fff;
}

.right-sidebar .panel .folder span {
  font-size: 12px;
  width: 100%;
  display: block;
  text-align: center;
  color: #6b7a99;
}

.right-sidebar .panel .folder span {}

/*=============== ORDER PAGE ============*/
.order-box {
  background: #fff;
  border: 1px solid #c7d0de;
  border-radius: 0px 1px 8px 8px;
}
.order-box .order-title {
  font-weight: 700;
  font-size: 18px;
}
.order-box .order-status {
  font-weight: 400;
  font-size: 13px;
}
.order-box .order-action {
  font-weight: 400;
  font-size: 12px;
}
.order-box .order-action .order-type {
  font-size: 13px;
  font-weight: 500;
}

.order-box .order-table {
  font-size: 14px;
}

.order-box .order-table tr:not(:last-child) {
  border-bottom: 1px solid #bfcbdd;
}

.order-box .order-step-status {
  font-size: 12px;
}

.order-box .order-content table td {
  padding: 15px 20px;
}

.order-box .order-footer {
  background-color: #fafcff;
  border-radius: 0px 1px 8px 8px;
}

/*=========== BATCH PAGE =============*/
.batch-wrapper .batch-item.add-batch-item {
  background-color: #eef1f8;
  cursor: pointer;
}
.batch-wrapper .batch-item {
  background: #fff;
  width: 193px;
  height: 185px;
  border: 1px dashed #96a6bc;
  box-shadow: inset -1px -5px 13px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
.batch-wrapper .batch-item .batch-title {
  color: #323b4a;
  font-size: 16px;
  font-weight: 700;
}
.batch-wrapper .batch-item .batch-subtitle {
  color: #6b7a99;
  font-size: 12px;
}
.batch-wrapper .batch-item .batch-footer span {
  color: #323b4a;
  font-size: 12px;
  font-weight: 700;
}

/*=========== CATALOGUE PAGE =============*/
.catalogue-wrapper .catalogue-item {
  background: #fff;
  border: 1px solid #c7d0de;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
}
.catalogue-wrapper .catalogue-item .catalog-item-preview {
  flex: 2;
  border-right: 1px solid #c7d0de;
}
.catalogue-wrapper .catalogue-pricing {
  flex: 3;
  max-height: 180px;
  border-right: 1px solid #c7d0de;
  overflow: scroll;
}

.catalogue-wrapper .catalog-image {
  position: relative;
}
.catalogue-wrapper .catalog-image a {
  position: absolute;
  right: 7px;
  bottom: 2px;
}
.catalogue-wrapper .catalogue-title {
  color: var(--dark);
  font-size: 16px;
  font-weight: 600;
}

.catalogue-wrapper .catalogue-pricing table tr:not(:last-child) {
  border-bottom: 1px solid #c7d0de;
}

.catalogue-wrapper .catalogue-pricing table tr:nth-child(odd) {
  background: #f5f7fb;
}

.catalogue-wrapper .catalogue-pricing small {
  color: #c3cad9;
  font-size: 12px;
}
.catalogue-wrapper .catalogue-pricing .price-name {
  color: #6b7a99;
  font-size: 14px;
  padding: 6px;
}
.catalogue-wrapper .catalogue-pricing .price {
  color: var(--dark);
  font-size: 14px;
}

.catalogue-wrapper .catalogue-info {
  flex: 3;
}

.catalogue-wrapper .catalogue-info p {
  color: #6b7a99;
  font-size: 14px;
}
.catalogue-wrapper .catalogue-info p span {
  color: var(--dark);
  font-weight: 600;
}

.catalogue-wrapper .catalog-item-footer {
  background: #eff2f8;
}

.catalogue-wrapper .catalog-item-footer a {
  color: #6e7b96;
  font-size: 12px;
  font-weight: 600;
}

/*=========== SINGLE PRODUCT PAGE =============*/
.catalogue-wrapper .catalogue-single .catalogue-title {
  font-size: 18px;
  margin-bottom: 5px;
}

.catalogue-wrapper .catalogue-single .product-description {
  font-size: 14px;
}

.catalogue-wrapper .catalogue-single .catalogue-pricing {
  border-right: none;
  overflow: visible;
}

.catalogue-wrapper .catalogue-single .catalogue-pricing table {
  border: 1px solid #c7d0de;
}

.catalogue-wrapper .catalogue-single .catalogue-pricing table {
  border-bottom: 1px solid #c7d0de;
}

.catalogue-wrapper .catalogue-single .catalog-image a {
  right: 10px;
  bottom: 12px;
}
.catalogue-single .order-table {
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
}

/*=========== SETTING PAGE =============*/
.settings-wrapper .settings-item {
  width: 291px;
  height: 175px;
  background: #f6f8fb;
  border: 1px solid #c7d0de;
  text-decoration: none;
}
.settings-wrapper .settings-item h5 {
  color: #323b4a;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

/*=========== PROCESS PAGE =============*/
.process-wrapper table {
  border: 1px solid #c2cad8;
}
.process-wrapper table th,
.process-wrapper table td {
  font-weight: 700;
  font-size: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.process-wrapper table a {
  color: #6394ee;
  text-decoration: none;
}
/*=========== EDIT PROCESS PAGE =============*/
.edit-process-wrapper h2 {
  color: #323b4a;
}
.edit-process-wrapper table {
  font-size: 14px;
  border-color: #bfcbdd;
}
.edit-process-wrapper table .edit-link {
  color: #6394ee;
  text-decoration: none;
}

.edit-process-wrapper table td {
  padding: 10px;
}

/*=========== PROFILE PAGE =============*/
.profile-wrapper {
  color: #323b4a;
}

.profile-wrapper .profile-row {
  margin-bottom: 10px;
}

.profile-wrapper .profile-row.active-edit {
  background-color: #f1f3f9;
  padding: 10px 20px;
}

.profile-wrapper .profile-field {
  flex: 2;
}

.profile-wrapper .profile-data {
  flex: 3;
}

.profile-wrapper .profile-action {
  flex: 1;
}

.profile-wrapper .profile-form {
  display: none;
}

.profile-wrapper .edit-link {
  color: #6394ee;
  text-decoration: none;
  font-weight: 500;
}

/*=========== PREVIEW PAGE =============*/
.top-header {
  background: linear-gradient(269.55deg, #f6f7fb 18.79%, #f5f7fb 71.64%);
  box-shadow: 6px 1px 11px rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid #c7d0de;
}
.customer-filter .dropdown button.btn-dropdown {
  color: #fff;
  background: linear-gradient(180deg, #c5cbd8 -4.69%, #636d86 83.1%);
  border-radius: 5px;
}

.customer-filter .dropdown button.btn-dropdown::after {
  display: none;
}

.customer-filter .dropdown button.btn-dropdown::before {
  display: inline-block;
  margin-right: 0.355em;
  vertical-align: 0;
  content: '';
  border-top: 0.6em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.action-buttons-list .action-button a {
  width: 80px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
}
.action-buttons-list .action-button:first-child a,
.editor-action-buttons-list .action-button:first-child a {
  border-left: 1px solid #c7d0de;
}
.action-buttons-list .action-button a,
.editor-action-buttons-list .action-button a {
  border-right: 1px solid #c7d0de;
}
.action-buttons-list .action-button a:hover,
.editor-action-buttons-list .action-button a:hover {
  background-color: #fff;
}
.action-buttons-list .action-button a:hover svg path,
.editor-action-buttons-list .action-button a:hover svg path {
  fill: #6b7a99;
}

.invoice-form {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #6b7a99;
  align-self: flex-start;
}

.invoice-form form>div:last-child {
  border-top: 1px solid #c7d0de;
}

.invoice-form .form-control {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #0a8aff;
  border-radius: 5px;
}

.invoice-form .form-control.yellow-border {
  border: 1px solid #babd18;
}

.invoice-form .form-control.bg-grey {
  background: #f4f6fa;
}

.invoice-form .form-control.border-grey {
  border: 1px solid #bfcbdd;
}

.invoice-form .form-control.danger {
  background: #ffcdcd;
  border: 1px solid #d92550;
  color: #d92550;
}

.invoice-form .form-control.border-green {
  border: 1px solid #10e1b7;
}

.invoice-form button.big-btn {
  width: 100%;
}

/*=========== UPLOADER PAGE =============*/
.upload-zone {
  background: #f6f8fb;
  border: 1px solid #c7d0de;
  height: 70vh;
  position: relative;
}
.upload-zone-text {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  text-align: center;
  color: #6b7a99;
}

.upload-zone-buttons button {
  width: 50%;
}

#drop-zone input {
  position: absolute;
  cursor: pointer;
  left: 0px;
  top: 0px;
  opacity: 0;
}
#drop-zone.mouse-over {
  border: 3px dashed rgba(0, 0, 0, 0.3);
  color: #7e7e7e;
}
.uploadedFiles {
  padding: 0;
  display: none;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
#filename {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5em;
  max-height: 400px;
  overflow-y: scroll;
  color: #240aff;
}
#filename span {
  font-size: 1.5rem;
  line-height: 1.2rem;
  height: 1.5rem;
  width: 1.5rem;
}
.closeBtn {
  color: black;
  display: inline-block;
  vertical-align: -20% !important;
}
.closeBtn:hover {
  color: red;
  display: inline-block;
  cursor: pointer;
}
.uploadedFiles .file {
  min-width: 20%;
  background-color: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.03);
  margin-bottom: 10px;
}

/*=========== EDITOR PAGE =============*/
.theone {
  box-shadow: inset 0 0 0 2px #156ff8;
}
.excel-table td:hover {
  background: #b8ebc0 !important;
  box-shadow: inset 0 0 0 2px #4dbf5f;
}

.excel-table td {
  vertical-align: middle;
}

.custom-tooltip {
  display: block !important;
}

.tooltip-inner {
  color: #6b7a99;
  font-weight: 600;
  font-size: 10px;
  background-color: #fff;
  border: 1px solid #c7d0de;
  border-radius: 5px;
  opacity: 1 !important;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  display: none !important;
  background-color: #fff !important;
  color: #fff;
}

.tooltip-arrow {
  opacity: 0 !important;
}

.editor .editor-header-title {
  font-weight: 600;
  font-size: 10px;
  color: #b9c0d1;
  margin-right: 1rem !important;
}
.editor .editor-header-dropdown-btn {
  color: #6b7a99;
  border: 1px solid #c3cad9;
}
.editor .editor-header-order-btn {
  color: #9ca5ba;
  background: linear-gradient(180deg, #ebf2fc 0%, #dee1e7 100%);
  font-weight: 500;
  border: 1px solid #c7d0de;
  border-radius: 5px;
}
.editor-action-buttons-list .action-button a {
  width: 52px;
  line-height: 52px;
  text-align: center;
  display: inline-block;
}

.editor .bootstrap-select {
  background: #fff;
  height: 53px;
}
.editor .bootstrap-select .dropdown-menu {
  padding: 0;
  border-radius: 0;
}

.editor .bootstrap-select .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #bfcbdd;
}

.editor .bootstrap-select .dropdown-menu .dropdown-item {
  color: var(--dark);
  font-size: 12px;
  font-weight: 600;
  padding: 10px 16px;
}

.editor .bootstrap-select .dropdown-menu .dropdown-item.active {
  background-color: #fafcff;
}

.editor .bootstrap-select button.dropdown-toggle {
  background-color: #fff;
  height: 53px;
  outline: 0 !important;
}
.editor .bootstrap-select button.dropdown-toggle::after {
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-bottom: 0;
  border-left: 0.4em solid transparent;
  margin-right: 10px;
  color: #6b7a99;
}

.editor .bootstrap-select .dropdown-toggle .filter-option {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.editor .bootstrap-select .filter-option-inner-inner {
  font-weight: 700;
  font-size: 14px;
  color: #6b7a99;
  font-weight: 500;
}

.bootstrap-select.font-size-picker:not([class*='col-']):not([class*='form-control']):not(.input-group-btn) {
  width: 80px;
}

.bootstrap-select.font-size-picker>.dropdown-toggle {
  min-width: 80px;
}

.editor-action-buttons-list .action-button a {
  color: #c3cad9;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

#xls-functions {
  height: 50px;
  border-top: 1px solid #c7d0de;
  background: #fff;
  display: block;
  float: left;
  border-bottom: 1px solid #c7d0de;
  width: 100%;
}
.shower {
  float: left;
  display: block;
  width: 104px;
  height: 100%;
  line-height: 50px;
  padding-left: 20px;
  border-right: 1px solid #c3cad9;
}
.shower2 {
  float: left;
  display: block;
  color: #c3cad9;
  width: 40px;
  height: 100%;
  line-height: 50px;
  padding-left: 20px;
}
.xls-function {
  border: 0px;
  height: 100%;
  float: left;
  display: block;
  width: 60%;
  padding-left: 20px;
  color: #323b4a;
  font-weight: 600;
}

.xls-function::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #c3cad9;
  opacity: 1;
  /* Firefox */
}

.table> :not(caption)>*>* {
  padding: 0.8rem 0.5rem;
}

.editor .excel-table {
  text-align: center;
  border-color: #c7d0de;
}

.editor .excel-table thead tr {
  background: #e8ecf2;
}

.editor .excel-table tr:hover,
.editor .excel-table tbody tr:hover td {
  background-color: #e6ffea;
}
.editor .excel-table thead th {
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  height: 55px;
  vertical-align: middle;
}
.editor .excel-table thead th:first-child {
  width: 10px;
  line-height: 40px;
}
.editor .excel-table tbody td {
  background-color: #fff;
  padding: 0 !important;
}

.editor .excel-table tbody td div {
  padding: 8px !important;
}

.editor .excel-table tbody td:first-child {
  background: #e8ecf2;
}
